.boxes {

  &.boxes-row {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .box-item {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 1.75rem;
    @include media-breakpoint-up(lg) {
      max-width: 460px;
      margin-top: 0;
      margin-bottom: 2.5rem;
    }
    
    .box-item-inner {
      padding: 1.875rem 1.750rem;
      background-color: #e9eff0;
      border-radius: .5rem;
      transition: all 0.75s;
      @include media-breakpoint-up(lg) {
        padding: 2.250rem 2rem;
      }

      .upper-section {
        display: flex;
        flex-direction: row;
        align-items: center;

        i {
          font-size: 2.5rem;
          text-align: left;
        }
        h3 {
          text-align: left;
          margin-bottom: 0;
          margin-left: 1.75rem;
        }
      }

      .lower-section {
        text-align: left;
        margin-top: 1.5rem;
      }

      .flipped {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        visibility: hidden;
        transform: rotateY(180deg);
        position: absolute;
      }
    }

    &.highlighted {
      background-color: #011728;
      color: #fff;
      font-weight: 500;
      text-align: left;
    }

    &.flipper:hover {
      .box-item-inner {
        transform-style: preserve-3d;
        transform: rotateY(180deg);
        background-color: #011728;
        color: #fff;
        font-weight: 500;
        text-align: left;

        .flipped {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          padding: 1.875rem 1.750rem;
          visibility: visible;
          @include media-breakpoint-up(lg) {
            padding: 2.250rem 2rem;
          }
        }
  
        .default {
          visibility: hidden;
        }
      }
    }

    &:first-child {
      margin-top: 0;
    }
  }
  
  &.boxes-column {
    @include media-breakpoint-up(lg) {
      .box-item {
        max-width: unset;
        .box-item-inner {
          display: flex;
          padding: 0;

          .upper-section {
            padding: 2rem 1rem;
            background-color: #011728;
            border-top-left-radius: 1.25rem;
            border-bottom-left-radius: 1.25rem;
            min-width: 5rem;
            justify-content: center;
            i {
              color: #fff;
            }
            h3 {
              display: none;
            }
          }
          .lower-section {
            margin-top:0;
            padding: 1.25rem 1.75rem;
            h3 {
              display: block !important;
            }
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.price-boxes {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  .price-box-item {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include media-breakpoint-up(lg) {
      flex: 33%;
      max-width: 33%;
      margin: .5rem;
      padding-top: 0;
      padding-bottom: 0;
    }

    &:nth-child(2) {
      //transform: scale(105%);
    }

    .inner-price-boxes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.875rem 1.75rem;
      border-radius: 0.5rem;
      background-color: #e9eff0;
      height: 100%;
      
      .price-boxes-heading {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        i {
          font-size: 2.5rem;
          margin-right: 1rem;
          margin-bottom: .25rem;
          @include media-breakpoint-up(lg) {
            font-size: 2.4rem;
            margin-right: 1.30rem;
            margin-bottom: 0;
          }
        }
        h3 {
          text-align: left;
          font-size: 1.25rem;
          line-height: 1.55rem;
          margin-bottom: 0;
        }
      }
      .price-boxes-pricing {
        text-align: center;
        .final-price {
          font-size: 2.5rem;
          line-height: 3rem;
          font-weight: 600;
          color: #f8440d;
          padding: 1.5rem 0;
          margin-bottom: 0;
          @include media-breakpoint-up(lg) {
            font-size: 2.15rem;
            line-height: 2.75rem;
          }

          .price-currency {
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }
      .price-boxes-benefits {
        ul.list-icons {
          color: #666;

          li {
            padding-left: 1.75rem;
            padding-top: .25rem;
            padding-bottom: .25rem;
            @include media-breakpoint-up(lg) {
              font-size: .95rem;
              line-height: 1.35rem;
            }

            >i {
              font-size: 1rem;
            }

          }
        }
      }
      .price-boxes-cta {
        margin-top: 3rem;
      }
    }
  }
}