ul.ul-reset {
  list-style-type: none;
  padding-left: .5rem;
}

ul.list-icons {
  list-style-type: none;
  padding-left: 0;

  li {
    position: relative;
    padding-left: 2.3rem;
    padding-top: .35rem;
    padding-bottom: .35rem;
    @include media-breakpoint-up(lg) {
      padding-left: 2.75rem;
    }
    >i {
      position: absolute;
      font-size: 1.375rem;
      top: 6px;
      left: 0;
      @include media-breakpoint-up(lg) {
        font-size: 1.4rem;
        top: 9px;
      }
    }
  }
}

.social-icons-section {
  display: flex;
  h3 {
    display: inline-block;
    margin-bottom: 0;
  }
  ul.social-icons {
    list-style-type: none;
    display: inline-block;
    margin-left: 1.25rem;
    padding-left: 0;
    margin-bottom: 0;

    li {
      position: relative;
      display: inline-block;
      margin-left: 1rem;
      i {
        font-size: 36px;
      }
    }
  }
}

ul.vertical-progress {
  border-left: 3px solid #fff;
  margin-left: 1.125rem;
  padding-left: 3rem;
  list-style-type: none;
  counter-reset: progress;

  > li {
    position:relative;
    padding-bottom: 2.8125rem;

    &:last-child {
      padding-bottom: 0;
    }
    
    &::before {
      content: "" counter(progress) ".";
      counter-increment: progress;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      left: -68px;
      top: -2px;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1;
      color: #252525;

      @include media-breakpoint-up(lg) {
        left: -74px;
        top: 0;
      }
    }

    .price {
      margin-bottom: 0;
      font-size: 1.2rem;
      line-height: 2rem;
      font-weight: 500;
      @include media-breakpoint-up(lg) {
        margin-right: 2rem;
      }
    }
  }
}