section {
  padding: 4rem 0;
  position: relative;
  @include media-breakpoint-up(lg) {
    padding: 4.5rem 0;
  }
}

section + section {
  padding-top: 0rem;
}

section.padding-xsmall {
  padding: 2rem 0;
}

section.padding-small {
  padding: 3rem 0;
}

section.padding-mmd {
  padding: 5rem 0;
}

section.padding-lg {
  padding: 6rem 0;
}

@include media-breakpoint-up(lg) {
  section.fill-whole-page {
    min-height: calc(100vh - 704px);
  }
}