@import "parts/tmo-custom.scss";
@import "parts/tmo-custom-child.scss";

html, body {
  margin:0;
  padding:0;
  font-size: 16px;
  background-color: #fff;
}

html {
  font-size:10px;
}

.oneshop-lead input[type=tel] {
  display: inline-block;
  margin: 0em;
  padding: 1px 2px;
  height:54px;
  border-width: 2px;
  border-style: inset;
  border-image: initial;
}

.oneshop-lead input[type=tel] {
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  color:rgb(108, 108, 108);
  background-color:#F3F3F3;
  padding: 25px 13px 7px;
  border-bottom: 2px solid #d0d0d0;
  border-radius: 4px;
  transition: all 0.2s ease-in-out 0s;

  &.error-warning {
    background-color:#FFF5E8;
    border-bottom:2px solid #FF9A1E;
  }

  &:focus-visible {
    border:0;
    outline:0;
    border-bottom:2px solid #e20074;
  }
}

.oneshop-lead .btn-lg {
  height:54px;
}

.oneshop-lead .form-control:focus {
  box-shadow: none;
}

.js .oneshop-lead .input-prefix-label label, .js .oneshop-lead .select-prefix-label label {
  left: 13px;
}

.js .oneshop-lead .input-prefix-label.focused .form-control, .js .oneshop-lead .input-prefix-label.input-prefix-text .form-control {
  padding-top:24px !important;
}

.oneshop-lead .alert-copy:before {
  content:'';
  width:8px;
  height:8px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 50%;
  background-color: #FF9A1E;
}

.color-grey-v29 {
  color:#666;
}

.color-grey-v30 {
  color:#6C6C6C;
}