section {
  padding:80px 0;

  p {
    font-size: 30px;
    line-height: 1.5;
    color: #222;
    font-weight: 200;
  }
}

.line-divider {
  background-color: #dcdcdc;
  height: 2px;
  max-width: 1320px;
  margin: 0 auto;
}