/* teleNeo font */
@font-face {
  font-family: 'TeleNeo';
  src: url('https://static.eshop.t-mobile.cz/cz/prod/dtdl/new/assets/fonts/TeleNeoWeb-Regular.woff2') format('woff2'),
    url('https://static.eshop.t-mobile.cz/cz/prod/dtdl/new/assets/fonts/TeleNeoWeb-Regular.woff') format('woff'),
    url('https://static.eshop.t-mobile.cz/cz/prod/dtdl/new/assets/fonts/TeleNeoWeb-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}