.icon-gift-primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 36.71px;
  height: 34.37px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37.009 34.67'%3E%3Cg id='Ikona_darek' transform='translate(-816.047 -1886.136)'%3E%3Cg id='Group_1589' data-name='Group 1589' transform='translate(816.197 1886.286)'%3E%3Cg id='gift' transform='translate(0 0)'%3E%3Cg id='Group_1149' data-name='Group 1149' transform='translate(0 0)'%3E%3Cpath id='Path_518' data-name='Path 518' d='M34.415,25.446H27.155a8.914,8.914,0,0,0,1.28-1.026,4.8,4.8,0,0,0,0-6.75,4.85,4.85,0,0,0-6.729,0c-.993,1-3.634,5.061-3.269,7.775h-.165C18.634,22.732,16,18.669,15,17.671a4.85,4.85,0,0,0-6.729,0,4.8,4.8,0,0,0,0,6.75,9.079,9.079,0,0,0,1.283,1.026H2.294A2.3,2.3,0,0,0,0,27.741v5.736a1.148,1.148,0,0,0,1.147,1.147H2.294V48.389a2.3,2.3,0,0,0,2.294,2.294H32.12a2.3,2.3,0,0,0,2.294-2.294V34.623h1.147a1.148,1.148,0,0,0,1.147-1.147V27.741A2.3,2.3,0,0,0,34.415,25.446ZM9.9,19.288a2.446,2.446,0,0,1,3.476,0c1.546,1.556,3.084,5.529,2.549,6.082a.757.757,0,0,1-.424.076c-1.585,0-4.612-1.647-5.6-2.643A2.5,2.5,0,0,1,9.9,19.288Zm7.307,29.1H4.589V34.623H17.207Zm0-16.06H2.294V27.741H17.207Zm6.126-13.041A2.472,2.472,0,0,1,26.809,22.8c-.989,1-4.015,2.643-5.6,2.643a.754.754,0,0,1-.427-.076C20.25,24.818,21.787,20.844,23.333,19.288Zm8.787,29.1H19.5V34.623H32.12Zm2.294-16.06H19.5V27.741H34.415Z' transform='translate(0 -16.314)' fill='%23e20074' stroke='%23e20074' stroke-width='0.3'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-gift {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 37px;
  height: 35px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37.009 34.669'%3E%3Cg id='Ikona_darek' transform='translate(-944.402 -1828.136)'%3E%3Cg id='Group_1589' data-name='Group 1589' transform='translate(944.552 1828.286)'%3E%3Cg id='gift' transform='translate(0 0)'%3E%3Cg id='Group_1149' data-name='Group 1149' transform='translate(0 0)'%3E%3Cpath id='Path_518' data-name='Path 518' d='M34.415,25.446H27.155a8.914,8.914,0,0,0,1.28-1.026,4.8,4.8,0,0,0,0-6.75,4.85,4.85,0,0,0-6.729,0c-.993,1-3.634,5.061-3.269,7.775h-.165C18.634,22.732,16,18.669,15,17.671a4.85,4.85,0,0,0-6.729,0,4.8,4.8,0,0,0,0,6.75,9.079,9.079,0,0,0,1.283,1.026H2.294A2.3,2.3,0,0,0,0,27.741v5.736a1.148,1.148,0,0,0,1.147,1.147H2.294V48.389a2.3,2.3,0,0,0,2.294,2.294H32.12a2.3,2.3,0,0,0,2.294-2.294V34.623h1.147a1.148,1.148,0,0,0,1.147-1.147V27.741A2.3,2.3,0,0,0,34.415,25.446ZM9.9,19.288a2.446,2.446,0,0,1,3.476,0c1.546,1.556,3.084,5.529,2.549,6.082a.757.757,0,0,1-.424.076c-1.585,0-4.612-1.647-5.6-2.643A2.5,2.5,0,0,1,9.9,19.288Zm7.307,29.1H4.589V34.623H17.207Zm0-16.06H2.294V27.741H17.207Zm6.126-13.041A2.472,2.472,0,0,1,26.809,22.8c-.989,1-4.015,2.643-5.6,2.643a.754.754,0,0,1-.427-.076C20.25,24.818,21.787,20.844,23.333,19.288Zm8.787,29.1H19.5V34.623H32.12Zm2.294-16.06H19.5V27.741H34.415Z' transform='translate(0 -16.314)' fill='%23333' stroke='%23333' stroke-width='0.3'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.o-active-box.active .icon-gift,
.icon-gift.primary {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37.009 34.669'%3E%3Cg id='Ikona_darek' transform='translate(-944.402 -1828.136)'%3E%3Cg id='Group_1589' data-name='Group 1589' transform='translate(944.552 1828.286)'%3E%3Cg id='gift' transform='translate(0 0)'%3E%3Cg id='Group_1149' data-name='Group 1149' transform='translate(0 0)'%3E%3Cpath id='Path_518' data-name='Path 518' d='M34.415,25.446H27.155a8.914,8.914,0,0,0,1.28-1.026,4.8,4.8,0,0,0,0-6.75,4.85,4.85,0,0,0-6.729,0c-.993,1-3.634,5.061-3.269,7.775h-.165C18.634,22.732,16,18.669,15,17.671a4.85,4.85,0,0,0-6.729,0,4.8,4.8,0,0,0,0,6.75,9.079,9.079,0,0,0,1.283,1.026H2.294A2.3,2.3,0,0,0,0,27.741v5.736a1.148,1.148,0,0,0,1.147,1.147H2.294V48.389a2.3,2.3,0,0,0,2.294,2.294H32.12a2.3,2.3,0,0,0,2.294-2.294V34.623h1.147a1.148,1.148,0,0,0,1.147-1.147V27.741A2.3,2.3,0,0,0,34.415,25.446ZM9.9,19.288a2.446,2.446,0,0,1,3.476,0c1.546,1.556,3.084,5.529,2.549,6.082a.757.757,0,0,1-.424.076c-1.585,0-4.612-1.647-5.6-2.643A2.5,2.5,0,0,1,9.9,19.288Zm7.307,29.1H4.589V34.623H17.207Zm0-16.06H2.294V27.741H17.207Zm6.126-13.041A2.472,2.472,0,0,1,26.809,22.8c-.989,1-4.015,2.643-5.6,2.643a.754.754,0,0,1-.427-.076C20.25,24.818,21.787,20.844,23.333,19.288Zm8.787,29.1H19.5V34.623H32.12Zm2.294-16.06H19.5V27.741H34.415Z' transform='translate(0 -16.314)' fill='%23e20074' stroke='%23e20074' stroke-width='0.3'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-wallet-add-up {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 31px;
  height: 31px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32.706 32.706'%3E%3Cpath id='Path_4639' data-name='Path 4639' d='M6.831,5.221H34.206V2H6.831A4.831,4.831,0,0,0,2,6.831V29.375a4.831,4.831,0,0,0,4.831,4.831h8.051a4.831,4.831,0,0,0,4.831-4.831V21.99L21.8,24.072A1.61,1.61,0,0,0,24.072,21.8l-4.831-4.831a1.615,1.615,0,0,0-2.28,0L12.13,21.8a1.61,1.61,0,0,0,2.277,2.277l2.085-2.082v7.385a1.611,1.611,0,0,1-1.61,1.61H6.831a1.611,1.611,0,0,1-1.61-1.61V11.365a4.782,4.782,0,0,0,1.61.3H30.985V30.985H23.07v3.221H32.6a1.611,1.611,0,0,0,1.61-1.61V10.051a1.611,1.611,0,0,0-1.61-1.61H6.831a1.61,1.61,0,1,1,0-3.221Z' transform='translate(-1.75 -1.75)' fill='%23e20074' stroke='%23fff' stroke-width='0.5'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-content-applications-default {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.266 30.266'%3E%3Cg id='icon_content_applications_default' data-name='icon/content/applications/default' transform='translate(-1.5 -2)'%3E%3Cg id='Combined-Shape' transform='translate(1.5 2)'%3E%3Cpath id='path-1' d='M11.337,18.646A3.747,3.747,0,0,1,15.12,22.43h0v6.053a3.747,3.747,0,0,1-3.783,3.783H5.283A3.747,3.747,0,0,1,1.5,28.483h0V22.43a3.747,3.747,0,0,1,3.783-3.783h6.053Zm16.646,0a3.747,3.747,0,0,1,3.783,3.783h0v6.053a3.747,3.747,0,0,1-3.783,3.783H21.93a3.747,3.747,0,0,1-3.783-3.783h0V22.43a3.747,3.747,0,0,1,3.783-3.783h6.053Zm-16.646,2.27H5.283A1.518,1.518,0,0,0,3.77,22.43h0v6.053A1.518,1.518,0,0,0,5.283,30h6.053a1.518,1.518,0,0,0,1.513-1.513h0V22.43a1.518,1.518,0,0,0-1.513-1.513Zm16.646,0H21.93a1.518,1.518,0,0,0-1.513,1.513h0v6.053A1.518,1.518,0,0,0,21.93,30h6.053A1.518,1.518,0,0,0,29.5,28.483h0V22.43a1.518,1.518,0,0,0-1.513-1.513ZM11.337,2A3.747,3.747,0,0,1,15.12,5.783h0v6.053a3.747,3.747,0,0,1-3.783,3.783H5.283A3.747,3.747,0,0,1,1.5,11.837h0V5.783A3.747,3.747,0,0,1,5.283,2h6.053ZM27.983,2a3.747,3.747,0,0,1,3.783,3.783h0v6.053a3.747,3.747,0,0,1-3.783,3.783H21.93a3.747,3.747,0,0,1-3.783-3.783h0V5.783A3.747,3.747,0,0,1,21.93,2h6.053ZM11.337,4.27H5.283A1.518,1.518,0,0,0,3.77,5.783h0v6.053A1.518,1.518,0,0,0,5.283,13.35h6.053a1.518,1.518,0,0,0,1.513-1.513h0V5.783A1.518,1.518,0,0,0,11.337,4.27Zm16.646,0H21.93a1.518,1.518,0,0,0-1.513,1.513h0v6.053A1.518,1.518,0,0,0,21.93,13.35h6.053A1.518,1.518,0,0,0,29.5,11.837h0V5.783A1.518,1.518,0,0,0,27.983,4.27Z' transform='translate(-1.5 -2)' fill='%23e20074'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-angle-right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.151 14.151'%3E%3Cpath id='Path_632' data-name='Path 632' d='M0,0V8.007H8.007' transform='translate(7.076 12.737) rotate(-135)' fill='none' stroke='%23e20074' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-angle-right-v2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml;base64, PHN2ZyBpZD0iYW5nbGUtcmlnaHQtdjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KICAgIHZpZXdCb3g9IjAgMCAyMi4yIDIyLjIiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+DQogICAgPHBhdGggZmlsbD0iI2UyMDA3NCINCiAgICAgICAgZD0iTTExLjEsMjEuN2MtMC4zLDAtMC42LTAuMS0wLjktMC40Yy0wLjUtMC41LTAuNS0xLjMsMC0xLjhsOC41LTguNWwtOC41LTguNWMtMC41LTAuNS0wLjUtMS4zLDAtMS44czEuMy0wLjUsMS44LDBsOS4zLDkuM2MwLjUsMC41LDAuNSwxLjMsMCwxLjhMMTIsMjEuNEMxMS44LDIxLjYsMTEuNCwyMS43LDExLjEsMjEuN3oiPg0KICAgIDwvcGF0aD4NCjwvc3ZnPg==");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.box-img-bgr:hover .link-circle .icon-angle-right-v2 {
  background-image: url("data:image/svg+xml;base64, PHN2ZyBpZD0iYW5nbGUtcmlnaHQtdjIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KICAgIHZpZXdCb3g9IjAgMCAyMi4yIDIyLjIiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCI+DQogICAgPHBhdGggZmlsbD0iI2ZmZmZmZiINCiAgICAgICAgZD0iTTExLjEsMjEuN2MtMC4zLDAtMC42LTAuMS0wLjktMC40Yy0wLjUtMC41LTAuNS0xLjMsMC0xLjhsOC41LTguNWwtOC41LTguNWMtMC41LTAuNS0wLjUtMS4zLDAtMS44czEuMy0wLjUsMS44LDBsOS4zLDkuM2MwLjUsMC41LDAuNSwxLjMsMCwxLjhMMTIsMjEuNEMxMS44LDIxLjYsMTEuNCwyMS43LDExLjEsMjEuN3oiPg0KICAgIDwvcGF0aD4NCjwvc3ZnPg==");
}

.icon-danger-circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath id='Path_17159' data-name='Path 17159' d='M0,15A15,15,0,1,1,15,30,14.957,14.957,0,0,1,0,15Zm2.045,0A12.955,12.955,0,1,0,15,2.045,12.949,12.949,0,0,0,2.045,15ZM16.364,8.182v8.864H13.636V8.182ZM15,22.5a1.7,1.7,0,1,0-1.7-1.7A1.7,1.7,0,0,0,15,22.5Z' fill='%23ff9a1e' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-atms {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 38.8px;
  height: 29.7px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38.814 29.659'%3E%3Cg id='Group_7439' data-name='Group 7439' transform='translate(-2.25 -13.55)'%3E%3Cg id='Group_7436' data-name='Group 7436'%3E%3Cpath id='Path_17154' data-name='Path 17154' d='M19.439,33.481H17.1a.766.766,0,0,0-.767.766v4.074a.766.766,0,0,0,.767.766h2.339a.766.766,0,0,0,.766-.766V34.247A.766.766,0,0,0,19.439,33.481Z' fill='%23e20074' stroke='%23e20074' stroke-width='0.5'/%3E%3Cpath id='Path_17155' data-name='Path 17155' d='M26.3,35.377a.852.852,0,0,0-.847.847V38.4a.847.847,0,1,0,1.694,0V36.224A.8.8,0,0,0,26.3,35.377Z' fill='%23e20074' stroke='%23e20074' stroke-width='0.5'/%3E%3Cpath id='Path_17156' data-name='Path 17156' d='M26.3,30.255a.852.852,0,0,0-.847.847V33.28a.847.847,0,0,0,1.694,0V31.1A.826.826,0,0,0,26.3,30.255Z' fill='%23e20074' stroke='%23e20074' stroke-width='0.5'/%3E%3Cpath id='Path_17157' data-name='Path 17157' d='M26.3,25.173a.852.852,0,0,0-.847.847V28.2a.847.847,0,0,0,1.694,0V26.02A.826.826,0,0,0,26.3,25.173Z' fill='%23e20074' stroke='%23e20074' stroke-width='0.5'/%3E%3Cpath id='Path_17158' data-name='Path 17158' d='M40.814,13.8H2.5V28.359h9.841v12.1a2.513,2.513,0,0,0,2.5,2.5H28.473a2.513,2.513,0,0,0,2.5-2.5v-12.1h9.841V13.8ZM28.473,41.265H14.841a.793.793,0,0,1-.766-.766V21.947H25.448v1.169a.847.847,0,0,0,1.694,0V21.947H29.2V40.5A.709.709,0,0,1,28.473,41.265Zm10.607-14.6H30.973V21.947h3.832V20.213H8.55v1.734h3.831v4.718H4.275V15.534H39.16V26.665Z' fill='%23e20074' stroke='%23e20074' stroke-width='0.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-stores {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 34px;
  height: 31px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 34 31.043'%3E%3Cg id='icon_t_product_telekom-shop-b_default' data-name='icon/t_product/telekom-shop-b/default' transform='translate(-5.5 -1.5)'%3E%3Cpath id='Combined-Shape' d='M30.8,1.5V6.674h1.109A2.619,2.619,0,0,1,34.5,9.261h0v3.326H32.283V32.543H2.717V12.587H.5V9.261A2.619,2.619,0,0,1,3.087,6.674H4.2V1.5Zm-.739,11.087H4.935V30.326h25.13Zm-8.13,2.957.148,3.917-.591.074a4.143,4.143,0,0,0-.887-2.587,2.9,2.9,0,0,0-2.217-.887h0v8.2c0,.739.074,1.183.3,1.4.148.222.443.3.887.37h.665v.591h-5.47v-.517a3.335,3.335,0,0,0,.961-.074.947.947,0,0,0,.813-.739,3.335,3.335,0,0,0,.074-.961h0v-8.2a2.734,2.734,0,0,0-2.143.887,3.916,3.916,0,0,0-.887,2.513h0l-.591-.074.074-3.917Zm.148,5.1v2.217H19.791V20.643Zm-6.874,0v2.217H12.917V20.643ZM28.587,3.717H6.413V6.674H28.587Z' transform='translate(5)' fill='%23e20074' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-coupones {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 33px;
  height: 26.5px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='26.455' viewBox='0 0 33 26.455'%3E%3Cg id='Component_48_1' data-name='Component 48 – 1' transform='translate(0.5 0.5)'%3E%3Cg id='icon_content_voucher_default' data-name='icon/content/voucher/default' transform='translate(-1 -5.5)'%3E%3Cg id='Combined-Shape' transform='translate(1 5.5)'%3E%3Cpath id='path-1' d='M3.182,23.364v.727a2.143,2.143,0,0,0,2.182,2.182h.727v2.182H5.364A4.376,4.376,0,0,1,1,24.091H1v-.727Zm22.545,2.909v2.182H21.364V26.273ZM33,23.364v.727a4.376,4.376,0,0,1-4.364,4.364h-.727V26.273h.727a2.143,2.143,0,0,0,2.182-2.182h0v-.727ZM19.182,26.273v2.182H14.818V26.273Zm-6.545,0v2.182H8.273V26.273ZM3.182,16.818v4.364H1V16.818Zm29.818,0v4.364H30.818V16.818ZM3.182,10.273v4.364H1V10.273Zm29.818,0v4.364H30.818V10.273ZM33,3V8.091H30.818V5.182H27.909V3ZM6.091,3V5.182H3.182V8.091H1V3ZM25.727,3V5.182H21.364V3ZM12.636,3V5.182H8.273V3Zm6.545,0V5.182H14.818V3Z' transform='translate(-1 -3)' fill='%23e20074' stroke='rgba(0,0,0,0)' stroke-miterlimit='10' stroke-width='1' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_7435' data-name='Group 7435' transform='translate(-3.368 -7.089)'%3E%3Cpath id='Path_17151' data-name='Path 17151' d='M16.459,33.732H14.173v2.286h2.286Z' transform='translate(0 -14.367)' fill='%23d8006b' stroke='rgba(0,0,0,0)' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_17152' data-name='Path 17152' d='M14.286,14.173l-.113,3.983.6.1a4.522,4.522,0,0,1,.924-2.612,2.915,2.915,0,0,1,2.2-.932v8.332a2.159,2.159,0,0,1-.314,1.418,1.45,1.45,0,0,1-.916.342q-.191.016-.653.016v.637h5.572v-.637q-.462,0-.653-.016a1.451,1.451,0,0,1-.916-.342,2.159,2.159,0,0,1-.315-1.418V14.715a2.917,2.917,0,0,1,2.2.932,4.518,4.518,0,0,1,.924,2.612l.6-.1-.113-3.983Z' transform='translate(0 0)' fill='%23d8006b' stroke='rgba(0,0,0,0)' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Path_17153' data-name='Path 17153' d='M40.429,33.732v2.286h2.286V33.732H40.429Z' transform='translate(-19.286 -14.367)' fill='%23d8006b' stroke='rgba(0,0,0,0)' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-online-banking {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 39px;
  height: 25px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39 25.542'%3E%3Cg id='icon_device_computer_default' data-name='icon/device/computer/default' transform='translate(0.5 -7.5)'%3E%3Cg id='Combined-Shape' transform='translate(0 8)'%3E%3Cpath id='path-1' d='M38,24.875a3.176,3.176,0,0,1-3.167,3.167H3.167A3.176,3.176,0,0,1,0,24.875H38ZM29.292,3.5a4.764,4.764,0,0,1,4.75,4.75h0V22.5H31.667V8.25a2.333,2.333,0,0,0-2.375-2.375H8.708A2.333,2.333,0,0,0,6.333,8.25h0V22.5H3.958V8.25A4.764,4.764,0,0,1,8.708,3.5H29.292ZM11.875,10.229l5.779,5.621-2.613-.238,1.583,3.8-1.5.633-1.583-3.8L11.875,18.3Z' transform='translate(0 -3.5)' fill='%23e20074' stroke='rgba(0,0,0,0)' stroke-miterlimit='10' stroke-width='1' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-bag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 29px;
  height: 32px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 29.087 32.465'%3E%3Cg id='icon_content_shop_default' data-name='icon/content/shop/default' transform='translate(32.855)'%3E%3Cpath id='Combined-Shape' d='M16.688,1a6.613,6.613,0,0,1,6.641,6.641h0V9.854H29.9l1.328,18.889a4.611,4.611,0,0,1-1.181,3.32,4.4,4.4,0,0,1-3.246,1.4H6.58a4.4,4.4,0,0,1-3.246-1.4,4.5,4.5,0,0,1-1.181-3.32h0L3.481,9.854h6.567V7.641A6.613,6.613,0,0,1,16.688,1ZM27.829,12.068H5.547L4.366,28.816a2.107,2.107,0,0,0,.59,1.7,2.092,2.092,0,0,0,1.623.738H26.8a2.37,2.37,0,0,0,1.623-.738,2.578,2.578,0,0,0,.59-1.623h0ZM11.154,13.912a1.476,1.476,0,1,1-1.476,1.476A1.476,1.476,0,0,1,11.154,13.912Zm11.068,0a1.476,1.476,0,1,1-1.476,1.476A1.476,1.476,0,0,1,22.222,13.912Zm-5.534-10.7a4.44,4.44,0,0,0-4.427,4.427h0V9.854h8.854V7.641A4.44,4.44,0,0,0,16.688,3.214Z' transform='translate(-35 -1)' fill='%23e20074' fill-rule='evenodd'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-balance {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 33px;
  height: 33px;
background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33.284 33.178'%3E%3Cg id='Component_48_1' data-name='Component 48 – 1' transform='translate(1.25 1.25)'%3E%3Cpath id='Path_4632' data-name='Path 4632' d='M74.915,34.277h-12.4a4.341,4.341,0,0,1-4.341-4.341V9.426a4.34,4.34,0,0,1,4.341-4.341h20.51a4.341,4.341,0,0,1,4.341,4.341V21.34' transform='translate(-58.17 -5.085)' fill='none' stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_1' data-name='Line 1' x2='10.979' transform='translate(11.915 7.213)' fill='none' stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_2' data-name='Line 2' x2='1.17' transform='translate(6.043 7.213)' fill='none' stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_3' data-name='Line 3' x2='10.979' transform='translate(11.915 14.596)' fill='none' stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_4' data-name='Line 4' x2='1.17' transform='translate(6.043 14.596)' fill='none' stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_5' data-name='Line 5' x2='1.17' transform='translate(6.043 22.681)' fill='none' stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_6' data-name='Line 6' x2='1.17' transform='translate(12.426 22.681)' fill='none' stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Ccircle id='Ellipse_33' data-name='Ellipse 33' cx='4.277' cy='4.277' r='4.277' transform='translate(19.575 19.404)' fill='none' stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_7' data-name='Line 7' x1='3.435' y1='3.435' transform='translate(26.831 26.726)' fill='none' stroke='%23333' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A");  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.o-active-box.active .icon-balance,
.icon-balance.primary {
background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 33.284 33.178'%3E%3Cg id='Component_48_1' data-name='Component 48 – 1' transform='translate(1.25 1.25)'%3E%3Cpath id='Path_4632' data-name='Path 4632' d='M74.915,34.277h-12.4a4.341,4.341,0,0,1-4.341-4.341V9.426a4.34,4.34,0,0,1,4.341-4.341h20.51a4.341,4.341,0,0,1,4.341,4.341V21.34' transform='translate(-58.17 -5.085)' fill='none' stroke='%23e20074' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_1' data-name='Line 1' x2='10.979' transform='translate(11.915 7.213)' fill='none' stroke='%23e20074' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_2' data-name='Line 2' x2='1.17' transform='translate(6.043 7.213)' fill='none' stroke='%23e20074' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_3' data-name='Line 3' x2='10.979' transform='translate(11.915 14.596)' fill='none' stroke='%23e20074' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_4' data-name='Line 4' x2='1.17' transform='translate(6.043 14.596)' fill='none' stroke='%23e20074' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_5' data-name='Line 5' x2='1.17' transform='translate(6.043 22.681)' fill='none' stroke='%23e20074' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_6' data-name='Line 6' x2='1.17' transform='translate(12.426 22.681)' fill='none' stroke='%23e20074' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Ccircle id='Ellipse_33' data-name='Ellipse 33' cx='4.277' cy='4.277' r='4.277' transform='translate(19.575 19.404)' fill='none' stroke='%23e20074' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_7' data-name='Line 7' x1='3.435' y1='3.435' transform='translate(26.831 26.726)' fill='none' stroke='%23e20074' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A");}

.icon-packages {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 25.5px;
  height: 30px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.493 30.16'%3E%3Cg id='Group_7349' data-name='Group 7349' transform='translate(-3 -1)'%3E%3Cpath id='Path_4631' data-name='Path 4631' d='M16.709,6.484H13.967V2.371A1.371,1.371,0,0,0,12.6,1H7.113A1.371,1.371,0,0,0,5.742,2.371V6.484A2.745,2.745,0,0,0,3,9.225v8.225a2.712,2.712,0,0,0,.381,1.371A2.712,2.712,0,0,0,3,20.193v8.225A2.745,2.745,0,0,0,5.742,31.16h20.01a2.745,2.745,0,0,0,2.742-2.742V20.193a2.712,2.712,0,0,0-.381-1.371,2.712,2.712,0,0,0,.381-1.371V9.225a2.745,2.745,0,0,0-2.742-2.742V2.371A1.371,1.371,0,0,0,24.381,1H18.9a1.371,1.371,0,0,0-1.371,1.371V6.484h-.817Zm3.559-2.742H23.01V6.484H20.268Zm-11.784,0h2.742V6.484H8.484ZM5.742,9.225h20.01v8.225H5.742Zm0,19.193V20.193h20.01v8.225Z' transform='translate(0)' fill='%23333'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.o-active-box.active .icon-packages,
.icon-packages.primary {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25.493 30.16'%3E%3Cg id='Group_7349' data-name='Group 7349' transform='translate(-3 -1)'%3E%3Cpath id='Path_4631' data-name='Path 4631' d='M16.709,6.484H13.967V2.371A1.371,1.371,0,0,0,12.6,1H7.113A1.371,1.371,0,0,0,5.742,2.371V6.484A2.745,2.745,0,0,0,3,9.225v8.225a2.712,2.712,0,0,0,.381,1.371A2.712,2.712,0,0,0,3,20.193v8.225A2.745,2.745,0,0,0,5.742,31.16h20.01a2.745,2.745,0,0,0,2.742-2.742V20.193a2.712,2.712,0,0,0-.381-1.371,2.712,2.712,0,0,0,.381-1.371V9.225a2.745,2.745,0,0,0-2.742-2.742V2.371A1.371,1.371,0,0,0,24.381,1H18.9a1.371,1.371,0,0,0-1.371,1.371V6.484h-.817Zm3.559-2.742H23.01V6.484H20.268Zm-11.784,0h2.742V6.484H8.484ZM5.742,9.225h20.01v8.225H5.742Zm0,19.193V20.193h20.01v8.225Z' transform='translate(0)' fill='%23E20074'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-credit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 25.5px;
  height: 30px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.706' height='32.706' viewBox='0 0 32.706 32.706'%3E%3Cpath id='Path_1637' data-name='Path 1637' d='M6.831,5.221H34.206V2H6.831A4.831,4.831,0,0,0,2,6.831V29.375a4.831,4.831,0,0,0,4.831,4.831h8.051a4.831,4.831,0,0,0,4.831-4.831V21.99L21.8,24.072A1.61,1.61,0,0,0,24.072,21.8l-4.831-4.831a1.615,1.615,0,0,0-2.28,0L12.13,21.8a1.61,1.61,0,0,0,2.277,2.277l2.085-2.082v7.385a1.611,1.611,0,0,1-1.61,1.61H6.831a1.611,1.611,0,0,1-1.61-1.61V11.365a4.782,4.782,0,0,0,1.61.3H30.985V30.985H23.07v3.221H32.6a1.611,1.611,0,0,0,1.61-1.61V10.051a1.611,1.611,0,0,0-1.61-1.61H6.831a1.61,1.61,0,1,1,0-3.221Z' transform='translate(-1.75 -1.75)' fill='%23333' stroke='%23fff' stroke-width='0.5'/%3E%3C/svg%3E%0A");  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.o-active-box.active .icon-credit,
.icon-credit.primary {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='32.706' height='32.706' viewBox='0 0 32.706 32.706'%3E%3Cpath id='Path_1637' data-name='Path 1637' d='M6.831,5.221H34.206V2H6.831A4.831,4.831,0,0,0,2,6.831V29.375a4.831,4.831,0,0,0,4.831,4.831h8.051a4.831,4.831,0,0,0,4.831-4.831V21.99L21.8,24.072A1.61,1.61,0,0,0,24.072,21.8l-4.831-4.831a1.615,1.615,0,0,0-2.28,0L12.13,21.8a1.61,1.61,0,0,0,2.277,2.277l2.085-2.082v7.385a1.611,1.611,0,0,1-1.61,1.61H6.831a1.611,1.611,0,0,1-1.61-1.61V11.365a4.782,4.782,0,0,0,1.61.3H30.985V30.985H23.07v3.221H32.6a1.611,1.611,0,0,0,1.61-1.61V10.051a1.611,1.611,0,0,0-1.61-1.61H6.831a1.61,1.61,0,1,1,0-3.221Z' transform='translate(-1.75 -1.75)' fill='%23e20074' stroke='%23fff' stroke-width='0.5'/%3E%3C/svg%3E%0A");}

.icon-external-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 10.4px;
  height: 10.4px;
  background-image: url("data:image/svg+xml,%0A%3Csvg id='Group_7291' data-name='Group 7291' xmlns='http://www.w3.org/2000/svg' width='10.444' height='10.443' viewBox='0 0 10.444 10.443'%3E%3Cpath id='Path_4643' data-name='Path 4643' d='M9.4,25.285H8.661a.277.277,0,0,0-.277.277v3.363a.324.324,0,0,1-.324.324H1.615a.324.324,0,0,1-.324-.324V22.48a.324.324,0,0,1,.324-.324H5.151a.277.277,0,0,0,.277-.277v-.738a.277.277,0,0,0-.277-.277H1.615A1.616,1.616,0,0,0,0,22.48v6.445a1.616,1.616,0,0,0,1.614,1.615H8.06a1.616,1.616,0,0,0,1.615-1.615V25.562A.277.277,0,0,0,9.4,25.285Z' transform='translate(-0.001 -20.096)' fill='%23e20074'/%3E%3Cpath id='Path_4644' data-name='Path 4644' d='M124.283,0H121.35a.277.277,0,0,0-.277.277v.738a.277.277,0,0,0,.277.277h1.007L118.567,5.08a.277.277,0,0,0,0,.391l.522.522a.277.277,0,0,0,.391,0L123.269,2.2V3.21a.277.277,0,0,0,.277.277h.738a.277.277,0,0,0,.277-.277V.277A.277.277,0,0,0,124.283,0Z' transform='translate(-114.116)' fill='%23e20074'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-globe {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 27.1px;
  height: 27.1px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.173 27.173'%3E%3Cg id='icon_content_international_default' data-name='icon/content/international/default' transform='translate(-1 -2.329)'%3E%3Cg id='iconinternational' transform='translate(1 1)'%3E%3Cpath id='path-1' d='M14.587,1A13.587,13.587,0,1,0,28.173,14.587,13.587,13.587,0,0,0,14.587,1ZM26.259,13.66H23.171a17.585,17.585,0,0,0-2.964-9.325A11.642,11.642,0,0,1,26.259,13.66ZM13.66,2.976V13.66H7.793C8.1,8.226,10.572,3.717,13.66,2.976Zm0,12.537V26.2c-3.088-.741-5.558-5.249-5.867-10.684ZM15.513,26.2V15.513H21.38C21.071,20.948,18.6,25.456,15.513,26.2Zm0-12.537V2.976c3.088.741,5.558,5.249,5.867,10.684ZM8.967,4.335A17.066,17.066,0,0,0,6,13.66H2.914A11.642,11.642,0,0,1,8.967,4.335ZM2.914,15.513H6a17.585,17.585,0,0,0,2.964,9.325A11.642,11.642,0,0,1,2.914,15.513Zm17.354,9.325a17.066,17.066,0,0,0,2.964-9.325H26.32A11.931,11.931,0,0,1,20.268,24.838Z' transform='translate(-1 0.329)' fill='%23e20074' fill-rule='evenodd'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-download-v1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' id='download-v1'%3E%3Cpath d='M21.25,20.5a.75.75,0,0,1,0,1.5H2.75a.75.75,0,0,1,0-1.5h18.5ZM12,2a.769.769,0,0,1,.75.75h0V9.5H16.6l-4.6,7-4.6-7h3.85V2.75A.769.769,0,0,1,12,2Z' fill='%23e20074' transform='translate(-2 -2)'%3E%3C/path%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 32.8px;
  height: 32.8px;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32.844 32.844'%3E%3Cpath id='Shape' d='M32.609,7.087c-.634-2.851-3.431-4.413-4.27-4.822A28.241,28.241,0,0,0,16.37,0,28.241,28.241,0,0,0,4.4,2.264C3.561,2.674.771,4.242.13,7.087c-.43,1.937.2,3.983,1.9,6.1l.423.525L11.3,11.22V8.007A1.016,1.016,0,0,1,12.2,7a38.323,38.323,0,0,1,4.167-.232A40.153,40.153,0,0,1,20.537,7a1.007,1.007,0,0,1,.907,1V11.22l8.846,2.489.423-.525C32.4,11.076,33.039,9.024,32.609,7.087ZM29.52,11.37l-6.029-1.7V8.014a3.052,3.052,0,0,0-2.728-3.035,39.349,39.349,0,0,0-8.778,0A3.052,3.052,0,0,0,9.256,8.014V9.671l-6.029,1.7A4.86,4.86,0,0,1,2.135,7.537c.437-1.957,2.537-3.124,3.172-3.431A26.067,26.067,0,0,1,16.37,2.046,26.236,26.236,0,0,1,27.439,4.1c.634.307,2.735,1.473,3.172,3.431A4.862,4.862,0,0,1,29.52,11.37Z' transform='translate(23.15 32.844) rotate(-135)' fill='%23333' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-phone.primary {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32.844 32.844'%3E%3Cpath id='Shape' d='M32.609,7.087c-.634-2.851-3.431-4.413-4.27-4.822A28.241,28.241,0,0,0,16.37,0,28.241,28.241,0,0,0,4.4,2.264C3.561,2.674.771,4.242.13,7.087c-.43,1.937.2,3.983,1.9,6.1l.423.525L11.3,11.22V8.007A1.016,1.016,0,0,1,12.2,7a38.323,38.323,0,0,1,4.167-.232A40.153,40.153,0,0,1,20.537,7a1.007,1.007,0,0,1,.907,1V11.22l8.846,2.489.423-.525C32.4,11.076,33.039,9.024,32.609,7.087ZM29.52,11.37l-6.029-1.7V8.014a3.052,3.052,0,0,0-2.728-3.035,39.349,39.349,0,0,0-8.778,0A3.052,3.052,0,0,0,9.256,8.014V9.671l-6.029,1.7A4.86,4.86,0,0,1,2.135,7.537c.437-1.957,2.537-3.124,3.172-3.431A26.067,26.067,0,0,1,16.37,2.046,26.236,26.236,0,0,1,27.439,4.1c.634.307,2.735,1.473,3.172,3.431A4.862,4.862,0,0,1,29.52,11.37Z' transform='translate(23.15 32.844) rotate(-135)' fill='%23e20074' fill-rule='evenodd'/%3E%3C/svg%3E%0A");
}

.icon-check-v1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 16px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.001' height='14' viewBox='0 0 16.001 14'%3E%3Cg id='Group_7216' data-name='Group 7216' transform='translate(0 -988.867)'%3E%3Cg id='Group_2335' data-name='Group 2335'%3E%3Crect id='Rectangle_826' data-name='Rectangle 826' width='15' height='14' transform='translate(0 988.867)' fill='none'/%3E%3Cpath id='Path' d='M13.673,2.124a1.273,1.273,0,1,0-1.892-1.7L4.663,8.33l-2.488-2.5A1.273,1.273,0,0,0,.37,7.62l3.436,3.459a1.273,1.273,0,0,0,1.849-.046Z' transform='translate(2.001 990.412)' fill='%2332a032'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-block-chain {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 30.2px;
  height: 30.2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.266 30.266'%3E%3Cpath id='path-1' d='M11.337,18.646A3.747,3.747,0,0,1,15.12,22.43h0v6.053a3.747,3.747,0,0,1-3.783,3.783H5.283A3.747,3.747,0,0,1,1.5,28.483h0V22.43a3.747,3.747,0,0,1,3.783-3.783h6.053Zm16.646,0a3.747,3.747,0,0,1,3.783,3.783h0v6.053a3.747,3.747,0,0,1-3.783,3.783H21.93a3.747,3.747,0,0,1-3.783-3.783h0V22.43a3.747,3.747,0,0,1,3.783-3.783h6.053Zm-16.646,2.27H5.283A1.518,1.518,0,0,0,3.77,22.43h0v6.053A1.518,1.518,0,0,0,5.283,30h6.053a1.518,1.518,0,0,0,1.513-1.513h0V22.43a1.518,1.518,0,0,0-1.513-1.513Zm16.646,0H21.93a1.518,1.518,0,0,0-1.513,1.513h0v6.053A1.518,1.518,0,0,0,21.93,30h6.053A1.518,1.518,0,0,0,29.5,28.483h0V22.43a1.518,1.518,0,0,0-1.513-1.513ZM11.337,2A3.747,3.747,0,0,1,15.12,5.783h0v6.053a3.747,3.747,0,0,1-3.783,3.783H5.283A3.747,3.747,0,0,1,1.5,11.837h0V5.783A3.747,3.747,0,0,1,5.283,2h6.053ZM27.983,2a3.747,3.747,0,0,1,3.783,3.783h0v6.053a3.747,3.747,0,0,1-3.783,3.783H21.93a3.747,3.747,0,0,1-3.783-3.783h0V5.783A3.747,3.747,0,0,1,21.93,2h6.053ZM11.337,4.27H5.283A1.518,1.518,0,0,0,3.77,5.783h0v6.053A1.518,1.518,0,0,0,5.283,13.35h6.053a1.518,1.518,0,0,0,1.513-1.513h0V5.783A1.518,1.518,0,0,0,11.337,4.27Zm16.646,0H21.93a1.518,1.518,0,0,0-1.513,1.513h0v6.053A1.518,1.518,0,0,0,21.93,13.35h6.053A1.518,1.518,0,0,0,29.5,11.837h0V5.783A1.518,1.518,0,0,0,27.983,4.27Z' transform='translate(-1.5 -2)' fill='%23333333' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

.icon-block-chain.primary {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.266 30.266'%3E%3Cpath id='path-1' d='M11.337,18.646A3.747,3.747,0,0,1,15.12,22.43h0v6.053a3.747,3.747,0,0,1-3.783,3.783H5.283A3.747,3.747,0,0,1,1.5,28.483h0V22.43a3.747,3.747,0,0,1,3.783-3.783h6.053Zm16.646,0a3.747,3.747,0,0,1,3.783,3.783h0v6.053a3.747,3.747,0,0,1-3.783,3.783H21.93a3.747,3.747,0,0,1-3.783-3.783h0V22.43a3.747,3.747,0,0,1,3.783-3.783h6.053Zm-16.646,2.27H5.283A1.518,1.518,0,0,0,3.77,22.43h0v6.053A1.518,1.518,0,0,0,5.283,30h6.053a1.518,1.518,0,0,0,1.513-1.513h0V22.43a1.518,1.518,0,0,0-1.513-1.513Zm16.646,0H21.93a1.518,1.518,0,0,0-1.513,1.513h0v6.053A1.518,1.518,0,0,0,21.93,30h6.053A1.518,1.518,0,0,0,29.5,28.483h0V22.43a1.518,1.518,0,0,0-1.513-1.513ZM11.337,2A3.747,3.747,0,0,1,15.12,5.783h0v6.053a3.747,3.747,0,0,1-3.783,3.783H5.283A3.747,3.747,0,0,1,1.5,11.837h0V5.783A3.747,3.747,0,0,1,5.283,2h6.053ZM27.983,2a3.747,3.747,0,0,1,3.783,3.783h0v6.053a3.747,3.747,0,0,1-3.783,3.783H21.93a3.747,3.747,0,0,1-3.783-3.783h0V5.783A3.747,3.747,0,0,1,21.93,2h6.053ZM11.337,4.27H5.283A1.518,1.518,0,0,0,3.77,5.783h0v6.053A1.518,1.518,0,0,0,5.283,13.35h6.053a1.518,1.518,0,0,0,1.513-1.513h0V5.783A1.518,1.518,0,0,0,11.337,4.27Zm16.646,0H21.93a1.518,1.518,0,0,0-1.513,1.513h0v6.053A1.518,1.518,0,0,0,21.93,13.35h6.053A1.518,1.518,0,0,0,29.5,11.837h0V5.783A1.518,1.518,0,0,0,27.983,4.27Z' transform='translate(-1.5 -2)' fill='%23e20074' fill-rule='evenodd'/%3E%3C/svg%3E");
}