.aljazeeraenglish {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px -144px;
  width: 40px;
  height: 40px;
}

.amc {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -47px -144px;
  width: 40px;
  height: 40px;
}

.animalplanethd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -94px -144px;
  width: 40px;
  height: 40px;
}

.arenaspor2thd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -141px -144px;
  width: 40px;
  height: 40px;
}

.arenasport1hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -216px 0px;
  width: 40px;
  height: 40px;
}

.arenasporthd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -216px -47px;
  width: 40px;
  height: 40px;
}

.arte {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -216px -94px;
  width: 40px;
  height: 40px;
}

.automotorsporthd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -216px -141px;
  width: 40px;
  height: 40px;
}

.axn {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px -191px;
  width: 40px;
  height: 40px;
}

.axnblack {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -47px -191px;
  width: 40px;
  height: 40px;
}

.axnwhite {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -94px -191px;
  width: 40px;
  height: 40px;
}

.babytv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -141px -191px;
  width: 40px;
  height: 40px;
}

.barrandovfamily {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -188px -191px;
  width: 40px;
  height: 40px;
}

.barrandovkrimi {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -263px 0px;
  width: 40px;
  height: 40px;
}

.barrandovtv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -263px -47px;
  width: 40px;
  height: 40px;
}

.barrandovtvhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -263px -94px;
  width: 40px;
  height: 40px;
}

.bbcearth {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -263px -141px;
  width: 40px;
  height: 40px;
}

.bbcearthhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -263px -188px;
  width: 40px;
  height: 40px;
}

.bbcworldnews {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px -238px;
  width: 40px;
  height: 40px;
}

.bloomberg {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -47px -238px;
  width: 40px;
  height: 40px;
}

.boomerang {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -94px -238px;
  width: 40px;
  height: 40px;
}

.brazzerseurope {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -141px -238px;
  width: 40px;
  height: 40px;
}

.brazzerstveurope {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -188px -238px;
  width: 40px;
  height: 40px;
}

.canal24horas {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -235px -238px;
  width: 40px;
  height: 40px;
}

.cannal24horas {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -310px 0px;
  width: 40px;
  height: 40px;
}

.cartoonnetwork {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -310px -47px;
  width: 40px;
  height: 40px;
}

.cbsreality {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -310px -94px;
  width: 40px;
  height: 40px;
}

.cctvnews {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -310px -141px;
  width: 40px;
  height: 40px;
}

.ceskoslovenskohd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -310px -188px;
  width: 40px;
  height: 40px;
}

.cgtndocumentary {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -310px -235px;
  width: 40px;
  height: 40px;
}

.cinemax {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px -285px;
  width: 40px;
  height: 40px;
}

.cinemax2 {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -47px -285px;
  width: 40px;
  height: 40px;
}

.cinemax2hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -94px -285px;
  width: 40px;
  height: 40px;
}

.cinemaxhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -141px -285px;
  width: 40px;
  height: 40px;
}

.classica {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -188px -285px;
  width: 40px;
  height: 40px;
}

.cnbc {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -235px -285px;
  width: 40px;
  height: 40px;
}

.cnn {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -282px -285px;
  width: 40px;
  height: 40px;
}

.cnnprimanews {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -357px 0px;
  width: 40px;
  height: 40px;
}

.comedyhouse {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -357px -47px;
  width: 40px;
  height: 40px;
}

.comedyhousehd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -357px -94px;
  width: 40px;
  height: 40px;
}

.crimeinvestigation {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -357px -141px;
  width: 40px;
  height: 40px;
}

.csfilm {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -357px -188px;
  width: 40px;
  height: 40px;
}

.cshistory {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -357px -235px;
  width: 40px;
  height: 40px;
}

.cshorror {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -357px -282px;
  width: 40px;
  height: 40px;
}

.csmystery {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px -332px;
  width: 40px;
  height: 40px;
}

.chucktv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -404px -235px;
  width: 40px;
  height: 40px;
}

.ct1hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -47px -332px;
  width: 40px;
  height: 40px;
}

.ct1jmhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -94px -332px;
  width: 40px;
  height: 40px;
}

.ct1smhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -141px -332px;
  width: 40px;
  height: 40px;
}

.ct24hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -188px -332px;
  width: 40px;
  height: 40px;
}

.ct2hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -235px -332px;
  width: 40px;
  height: 40px;
}

.ct3 {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -282px -332px;
  width: 40px;
  height: 40px;
}

.ctarthd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png") !important;
  background-position: -404px -0px !important;
  width: 40px;
  height: 40px;
}

.ctdhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -404px 0px;
  width: 40px;
  height: 40px;
}

.ctsporthd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -404px -47px;
  width: 40px;
  height: 40px;
}

.novasport3hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -404px -94px;
  width: 40px;
  height: 40px;
}

.novasport4hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -404px -141px;
  width: 40px;
  height: 40px;
}

.premiersport2hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -404px -188px;
  width: 40px;
  height: 40px;
}

.discovery {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -404px -235px;
  width: 40px;
  height: 40px;
}

.discoverychannel {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -404px -282px;
  width: 40px;
  height: 40px;
}

.discoveryscience {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -404px -329px;
  width: 40px;
  height: 40px;
}

.discoveryturboxtrahd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px -379px;
  width: 40px;
  height: 40px;
}

.disneychannel {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -47px -379px;
  width: 40px;
  height: 40px;
}

.djazz {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -94px -379px;
  width: 40px;
  height: 40px;
}

.docubox {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -1px;
  width: 40px;
  height: 40px;
}

.doq {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -141px -379px;
  width: 40px;
  height: 40px;
}

.dorceltvhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -188px -379px;
  width: 40px;
  height: 40px;
}

.dorcelxxx {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -235px -379px;
  width: 40px;
  height: 40px;
}

.dorcelxxxhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -282px -379px;
  width: 40px;
  height: 40px;
}

.dtx {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -329px -379px;
  width: 40px;
  height: 40px;
}

.ducktv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -376px -379px;
  width: 40px;
  height: 40px;
}

.dusktv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -451px 0px;
  width: 40px;
  height: 40px;
}

.dvojkahd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -451px -47px;
  width: 40px;
  height: 40px;
}

.epicdramahd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -451px -94px;
  width: 40px;
  height: 40px;
}

.eroxxx {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -451px -141px;
  width: 40px;
  height: 40px;
}

.euronews {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -451px -188px;
  width: 40px;
  height: 40px;
}

.eurosport1hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -451px -235px;
  width: 40px;
  height: 40px;
}

.eurosport2hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -451px -282px;
  width: 40px;
  height: 40px;
}

.extremesportchannel {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -451px -329px;
  width: 40px;
  height: 40px;
}

.extremesportschannel {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -451px -376px;
  width: 40px;
  height: 40px;
}

.fashiontv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px -426px;
  width: 40px;
  height: 40px;
}

.fightboxhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -47px -426px;
  width: 40px;
  height: 40px;
}

.filmbox {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -94px -426px;
  width: 40px;
  height: 40px;
}

.filmboxextra {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -141px -426px;
  width: 40px;
  height: 40px;
}

.filmboxextrahd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -188px -426px;
  width: 40px;
  height: 40px;
}

.filmboxfamily {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -235px -426px;
  width: 40px;
  height: 40px;
}

.filmboxplus {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -282px -426px;
  width: 40px;
  height: 40px;
}

.filmboxpremiumhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -329px -426px;
  width: 40px;
  height: 40px;
}

.filmeurope {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -376px -426px;
  width: 40px;
  height: 40px;
}

.filmeuropehd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -423px -426px;
  width: 40px;
  height: 40px;
}

.filmeuropeplus {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -498px 0px;
  width: 40px;
  height: 40px;
}

.filmplus {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -498px -47px;
  width: 40px;
  height: 40px;
}

.fine-living {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -498px -94px;
  width: 40px;
  height: 40px;
}

.fineliving {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -498px -141px;
  width: 40px;
  height: 40px;
}

.foodnetwork {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -498px -188px;
  width: 40px;
  height: 40px;
}

.france24 {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -498px -235px;
  width: 40px;
  height: 40px;
}

.ginx {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -498px -282px;
  width: 40px;
  height: 40px;
}

.golfchannelhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -498px -329px;
  width: 40px;
  height: 40px;
}

.golfhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -498px -376px;
  width: 40px;
  height: 40px;
}

.hbo2hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -498px -423px;
  width: 40px;
  height: 40px;
}

.hbo3hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px -473px;
  width: 40px;
  height: 40px;
}

.hbohd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -47px -473px;
  width: 40px;
  height: 40px;
}

.hbokomplet-balicek {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px 0px;
  width: 65px;
  height: 65px;
}

.hbozaklad-balicek {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -144px 0px;
  width: 65px;
  height: 65px;
}

.historyhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -94px -473px;
  width: 40px;
  height: 40px;
}

.inedittv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -141px -473px;
  width: 40px;
  height: 40px;
}

.infotvbrno {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -188px -473px;
  width: 40px;
  height: 40px;
}

.investigationdiscovery {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -235px -473px;
  width: 40px;
  height: 40px;
}

.jednotkahd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -282px -473px;
  width: 40px;
  height: 40px;
}

.jihoceskatv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -329px -473px;
  width: 40px;
  height: 40px;
}

.jimjam {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -376px -473px;
  width: 40px;
  height: 40px;
}

.jojcinema {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -423px -473px;
  width: 40px;
  height: 40px;
}

.jojfamily {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -470px -473px;
  width: 40px;
  height: 40px;
}

.jojfamilyhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -545px 0px;
  width: 40px;
  height: 40px;
}

.kinobarrandov {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -545px -47px;
  width: 40px;
  height: 40px;
}

.lalatv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -545px -94px;
  width: 40px;
  height: 40px;
}

.leogoldhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -545px -141px;
  width: 40px;
  height: 40px;
}

.leotvextasy {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -545px -188px;
  width: 40px;
  height: 40px;
}

.leotvgoldhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -545px -235px;
  width: 40px;
  height: 40px;
}

.magentahd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -545px -282px;
  width: 40px;
  height: 40px;
}

.magentat {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -545px -329px;
  width: 40px;
  height: 40px;
}

.markizainternational {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -545px -376px;
  width: 40px;
  height: 40px;
}

.minimax {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -545px -423px;
  width: 40px;
  height: 40px;
}

.moozdancehd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -545px -470px;
  width: 40px;
  height: 40px;
}

.mtv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px -520px;
  width: 40px;
  height: 40px;
}

.mtvdance {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -47px -520px;
  width: 40px;
  height: 40px;
}

.mtvhits {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -94px -520px;
  width: 40px;
  height: 40px;
}

.mtvrocks {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -141px -520px;
  width: 40px;
  height: 40px;
}

.natgeowildhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -188px -520px;
  width: 40px;
  height: 40px;
}

.nationalgeographichd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -235px -520px;
  width: 40px;
  height: 40px;
}

.nickelodeon {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -282px -520px;
  width: 40px;
  height: 40px;
}

.nickjr {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -329px -520px;
  width: 40px;
  height: 40px;
}

.nicktoons {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -376px -520px;
  width: 40px;
  height: 40px;
}

.nova2hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -423px -520px;
  width: 40px;
  height: 40px;
}

.novaactionhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -470px -520px;
  width: 40px;
  height: 40px;
}

.novacinemahd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -517px -520px;
  width: 40px;
  height: 40px;
}

.novagoldhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -592px 0px;
  width: 40px;
  height: 40px;
}

.novahd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -592px -47px;
  width: 40px;
  height: 40px;
}

.novasport1hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -592px -94px;
  width: 40px;
  height: 40px;
}

.novasport2hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -592px -141px;
  width: 40px;
  height: 40px;
}

.ocko-express {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -592px -188px;
  width: 40px;
  height: 40px;
}

.ocko {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -592px -235px;
  width: 40px;
  height: 40px;
}

.ockoblack {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -592px -282px;
  width: 40px;
  height: 40px;
}

.ockoexpres {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -592px -329px;
  width: 40px;
  height: 40px;
}

.ockostar {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -592px -376px;
  width: 40px;
  height: 40px;
}

.orf1 {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -592px -423px;
  width: 40px;
  height: 40px;
}

.playboytv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -592px -470px;
  width: 40px;
  height: 40px;
}

.polartv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -592px -517px;
  width: 40px;
  height: 40px;
}

.prahatv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px -567px;
  width: 40px;
  height: 40px;
}

.premiersport {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -47px -567px;
  width: 40px;
  height: 40px;
}

.premiersporthd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -94px -567px;
  width: 40px;
  height: 40px;
}

.primacomedy {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -141px -567px;
  width: 40px;
  height: 40px;
}

.primacool {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -188px -567px;
  width: 40px;
  height: 40px;
}

.primacoolhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -235px -567px;
  width: 40px;
  height: 40px;
}

.primahd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -282px -567px;
  width: 40px;
  height: 40px;
}

.primakrimi {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -329px -567px;
  width: 40px;
  height: 40px;
}

.primalovehd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -376px -567px;
  width: 40px;
  height: 40px;
}

.primamax {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -423px -567px;
  width: 40px;
  height: 40px;
}

.primamaxhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -470px -567px;
  width: 40px;
  height: 40px;
}

.primazoomhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -517px -567px;
  width: 40px;
  height: 40px;
}

.primastar {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -545px -330px;
  width: 40px;
  height: 40px;
}

.prodospele-balicek {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -72px 0px;
  width: 65px;
  height: 65px;
}

.publicatv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -564px -567px;
  width: 40px;
  height: 40px;
}

.rebel-tv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px 0px;
  width: 40px;
  height: 40px;
}

.rebel {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -47px;
  width: 40px;
  height: 40px;
}

.regionalnitvcz {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -94px;
  width: 40px;
  height: 40px;
}

.regionalnitvtvs {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -141px;
  width: 40px;
  height: 40px;
}

.relax {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -188px;
  width: 40px;
  height: 40px;
}

.retro {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -235px;
  width: 40px;
  height: 40px;
}

.retromusic {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -282px;
  width: 40px;
  height: 40px;
}

.senzi {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -329px;
  width: 40px;
  height: 40px;
}

.settopbox-balicek {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -144px -72px;
  width: 65px;
  height: 65px;
}

.slagrtv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -376px;
  width: 40px;
  height: 40px;
}

.slagr2 {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -236px -614px;
  width: 40px;
  height: 40px;
}

.slagrpremium {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -517px -614px;
  width: 40px;
  height: 40px;
}

.spektrumhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -423px;
  width: 40px;
  height: 40px;
}

.spektrumhome {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -470px;
  width: 40px;
  height: 40px;
}

.sport1hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -517px;
  width: 40px;
  height: 40px;
}

.sport2hd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -639px -564px;
  width: 40px;
  height: 40px;
}

.sport5 {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px -614px;
  width: 40px;
  height: 40px;
}

.ta3 {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -47px -614px;
  width: 40px;
  height: 40px;
}

.televizeseznam {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -94px -614px;
  width: 40px;
  height: 40px;
}

.thefishingandhuntingchannel {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -141px -614px;
  width: 40px;
  height: 40px;
}

.tlc {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -188px -614px;
  width: 40px;
  height: 40px;
}

.tmvrocks {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -235px -614px;
  width: 40px;
  height: 40px;
}

.travelchannelhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -282px -614px;
  width: 40px;
  height: 40px;
}

.travelhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -329px -614px;
  width: 40px;
  height: 40px;
}

.travelxphd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -376px -614px;
  width: 40px;
  height: 40px;
}

.trojkahd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -423px -614px;
  width: 40px;
  height: 40px;
}

.tv-paprika {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -470px -614px;
  width: 40px;
  height: 40px;
}

.tv5mode {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -517px -614px;
  width: 40px;
  height: 40px;
}

.tv5monde {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -564px -614px;
  width: 40px;
  height: 40px;
}

.tvbrno1 {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -611px -614px;
  width: 40px;
  height: 40px;
}

.tvnoe {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px 0px;
  width: 40px;
  height: 40px;
}

.tvpaprika {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -47px;
  width: 40px;
  height: 40px;
}

.upnetwork {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -94px;
  width: 40px;
  height: 40px;
}

.utv {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -141px;
  width: 40px;
  height: 40px;
}

.vh-1 {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -188px;
  width: 40px;
  height: 40px;
}

.vh1 {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -235px;
  width: 40px;
  height: 40px;
}

.mtv80s {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -189px;
  width: 40px;
  height: 40px;
}

.viasatexplore {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -329px;
  width: 40px;
  height: 40px;
}

.viasatexplorehd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -376px;
  width: 40px;
  height: 40px;
}

.viasathistoryhd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -423px;
  width: 40px;
  height: 40px;
}

.viasatnature {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -470px;
  width: 40px;
  height: 40px;
}

.viasatnaturehd {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -517px;
  width: 40px;
  height: 40px;
}

.videoteka-balicek {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: 0px -72px;
  width: 65px;
  height: 65px;
}

.xmo {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -564px;
  width: 40px;
  height: 40px;
}

.zahranici-balicek {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -72px -72px;
  width: 65px;
  height: 65px;
}

.zdf {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -686px -611px;
  width: 40px;
  height: 40px;
}

.eurosport4k {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -216px -49px;
  width: 40px;
  height: 40px;
}

.travelxp4k {
  background-image: url("https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/a1911732-c16c-4bc1-9b28-bb66158af247.png");
  background-position: -357px -49px;
  width: 40px;
  height: 40px;
}