@import 'parts/oneshop-custom.scss';
@import 'parts/lc-c-styles.scss';

.h-54 {
  height: 54px;
}

.bs-oneshop-section {
  padding-left: 4.9rem !important;
  padding-right: 4.9rem !important;
}

main {
  max-width: 1680px;
  margin:0 auto;
}