@charset "UTF-8";
/* FONT STYLING */
/* FONTS */
.external-fonts-loaded h1,
.external-fonts-loaded h2,
.external-fonts-loaded h3,
.external-fonts-loaded h4,
.external-fonts-loaded h5,
.external-fonts-loaded h6,
.external-fonts-loaded .h1,
.external-fonts-loaded .h2,
.external-fonts-loaded .h3,
.external-fonts-loaded .h4,
.external-fonts-loaded .h5,
.external-fonts-loaded .h6,
.external-fonts-loaded .cart-table .main-link,
.external-fonts-loaded .cart-related-name,
.blank-mode h1,
.blank-mode h2,
.blank-mode h3,
.blank-mode h4,
.blank-mode h5,
.blank-mode h6,
.blank-mode .h1,
.blank-mode .h2,
.blank-mode .h3,
.blank-mode .h4,
.blank-mode .h5,
.blank-mode .h6,
.blank-mode .cart-table .main-link,
.blank-mode .cart-related-name {
  font-family: "Open Sans", sans-serif !important; }

.external-fonts-loaded body,
body.blank-mode {
  font-family: "Open Sans", sans-serif !important; }

h2 {
  font-size: 35px;
  line-height: 44px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #151515; }

h2 + p {
  font-size: 20px;
  line-height: 28px;
  font-weight: normal;
  color: #707070;
  margin-bottom: 45px; }

/* GENERAL */
body.in-index h2,
body.in-index h2 + p {
  text-align: center; }

.btn {
  border-radius: 4px !important; }

a.btn-outline {
  background-color: transparent;
  border-color: #372f89;
  color: #151515; }

.navigation-home-icon-wrapper::before {
  margin-top: -8px; }

body.in-index h2, body.in-index h2 + p {
  z-index: 1;
  position: relative; }

.overall-wrapper {
  overflow-x: hidden; }

@media (min-width: 992px) {
  .breadcrumbs > span > a, .breadcrumbs > span > span {
    padding: 15px 0 12px 20px; } }

/* DONT DISPLAY THOSE */
.homepage-tabs-wrapper,
.homepage-texts-wrapper,
.footer-newsletter {
  display: none !important; }

/* SEARCH */
.search-window-in .container {
  background-color: #fff;
  border-radius: 4px;
  padding: 55px 0px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05); }

.search-window-in .search.static > h2,
.search-window-in .search > h2 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 3rem; }

.search-window-in .compact-form .btn.btn-lg::before {
  font-size: 24px;
  position: relative;
  top: -2px;
  color: #fff; }

.search-window-in .compact-form .btn.btn-lg {
  padding: 6px 21px;
  border-radius: 0;
  height: 60px;
  background-color: #372f89; }

.continue-shopping::before {
  content: "\e90b";
  display: block;
  opacity: 0.4;
  margin-right: 1ex;
  margin-bottom: 4px;
  font-size: 25px;
  line-height: 30px;
  color: #151515; }

/* BANNER */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: 0 auto;
  width: auto; }

.carousel-inner > .item {
  background-color: #f9f9f9; }

.body-banners {
  position: relative; }

.banners-content.body-banners::before {
  content: '';
  position: absolute;
  left: -770px;
  bottom: -45px;
  width: 2500px;
  background-color: #f5f9f9;
  height: calc(100% + 212px);
  display: block;
  z-index: 0; }

.footer-banner {
  position: relative; }

.footer-banner:first-child::before {
  content: '';
  position: absolute;
  left: -770px;
  bottom: -28px;
  width: 2500px;
  background-color: #f5f9f9;
  height: 100%;
  display: block;
  z-index: 0; }

.footer-banner span[data-ec-promo-id="76"] {
  z-index: 1;
  position: relative; }

@media (min-width: 992px) {
  .footer-banner {
    padding: 70px 0; } }

/* BENEFITS BANNER */
@media (min-width: 992px) {
  .benefitBanner {
    justify-content: space-around;
    margin: 35px auto; }
  body.type-detail .benefitBanner {
    display: none; }
  .benefitBanner__item,
  .multiple-columns-body .benefitBanner__item {
    flex: 0 1 29%; }
  .benefitBanner__picture {
    flex: 0 0 80px;
    max-width: 80px;
    margin-right: 22px; }
  .benefitBanner__title {
    font-size: 17px;
    line-height: 28px;
    font-weight: 700; }
  .benefitBanner__data {
    font-size: 14px;
    line-height: 24px;
    color: #666; } }

/* HEADER */
@media (min-width: 992px) {
  #header .container {
    min-height: 105px; }
  .navigation-in > ul > li > a {
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px; }
  .navigation-in ul.menu-level-2 li a {
    font-size: 15px; }
  .navigation-buttons > a,
  .navigation-buttons {
    border-left-width: 0; }
  .navigation-buttons {
    border-right-width: 0;
    top: -12px; }
  .navigation-buttons a::after {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52px;
    font-size: 10px;
    font-weight: 500; }
  .navigation-buttons a[data-target="search"]::after {
    content: "Vyhledávání"; }
  .navigation-buttons a[data-target="login"]::after {
    content: "Přihlášení"; }
  .navigation-buttons a[data-target="cart"]::after {
    content: "Košík"; } }

/* CATEGORY PAGE */
ul.subcategories {
  display: none; }

.category-perex {
  font-size: 16px;
  line-height: 26px;
  color: #666666; }

.category-perex + h4,
#productsTop {
  margin-top: 2rem;
  display: none; }

.category-header input[type="radio"] + label {
  font-size: 15px;
  line-height: 26px;
  background-color: #fff;
  border: 0;
  transition: all 0.15s linear; }

.category-header input[type="radio"]:checked + label {
  border: 0;
  border-bottom: 2px solid #372f89; }

.category-header input[type="radio"] + label:hover {
  background: #fff;
  border-bottom: 2px solid #372f89; }

@media (min-width: 768px) {
  .products-block .product {
    width: 100%; }
  .products-block > div .p {
    flex-direction: row;
    padding: 42px 65px 42px 45px;
    border-radius: 4px; }
  .products-block .p > a {
    flex: 1 1 35%;
    padding: 25px; }
  .products-block > div .p .p-in {
    flex: 1 1 65%; } }

.products-block > div .p .name {
  height: auto;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: left;
  padding: 0; }

.products-block > div .p .p-desc {
  font-size: 15px;
  line-height: 23px;
  color: #666666;
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 3rem; }

.columns-3 .products-block > div,
.columns-4 .products-block > div {
  width: 100%;
  margin-bottom: 3rem; }

.products-block .p-bottom .prices,
.products-block > div .p .availability,
.products-block > div .p .p-bottom > div .p-tools {
  text-align: left; }

.products-block > div .p .prices .price-final {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin-bottom: 0.5rem; }

.products-block > div .p .p-bottom > div .p-tools .btn,
.products-block > div .p .p-bottom > div .p-tools .btn.btn-cart {
  color: #fff;
  border-color: #372f89;
  background-color: #372f89;
  width: auto;
  min-width: unset;
  padding: 5px 22px !important; }

.products-block > div .p .p-bottom > div .p-tools .btn:hover,
.products-block > div .p .p-bottom > div .p-tools .btn.btn-cart:hover {
  background-color: #0b3c5d;
  border-color: #0b3c5d; }

.products-block > div .p .availability {
  padding-top: 0; }

.products-block > div .p .p-bottom > div .p-tools .btn.btn-outline {
  margin-left: 18px;
  background-color: transparent;
  border-color: #372f89;
  color: #151515; }

.products-block > div .p .p-bottom > div .p-tools .btn.btn-outline:hover {
  background-color: transparent;
  border-color: #0b3c5d;
  color: #0b3c5d; }

.flags-default .flag::before,
.flags-default .flag:after {
  display: none; }

/* SIDEBAR */
aside .box-categories > h4 {
  display: none; }

.categories .topic > a {
  padding-left: 0;
  margin-bottom: 25px; }

.category-perex {
  margin-bottom: 55px; }

#categories .expandable > a > span,
#categories .expandable > .topic > a > span {
  left: auto;
  right: 10px; }

.box-bg-variant .categories a {
  border-bottom-color: #ededed;
  color: #000;
  font-size: 18px;
  line-height: 24px; }

.sidebar > div {
  padding-bottom: 45px;
  border-color: #ededed; }

.box-bg-variant .categories ul li a {
  font-size: 15px;
  line-height: 26px;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #ededed; }

.box-bg-variant .categories ul li a::after {
  position: relative;
  content: "\eaa0";
  padding-left: 7px;
  font-family: Icofont;
  font-size: 13px; }

/* DETAIL */
.p-param-block .social-buttons-wrapper {
  display: none; }

.wide .image360::after,
.wide .p-image::after {
  display: none; }

.p-to-cart-block {
  padding: 25px 10px; }

.p-basic-info-block > .block:nth-child(2),
.p-basic-info-block > .block:nth-child(3) {
  display: none; }

.shp-tabs-holder ul.shp-tabs li a {
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #ededed;
  transition: all 0.15s linear;
  font-size: 15px;
  line-height: 20px; }

.shp-tabs-holder ul.shp-tabs li a:hover {
  border-bottom: 2px solid #372f89; }

.shp-tabs-holder ul.shp-tabs li.active .shp-tab-link {
  border: 0;
  border-bottom: 2px solid #372f89; }

/* BANNERS */
@media (min-width: 992px) {
  .body-banners {
    justify-content: space-between; }
  .body-banners .banner-wrapper {
    flex: 0 1 33%; }
  .footer-banner {
    padding: 45px 0; }
  .body-banners {
    margin-bottom: 45px; }
  .footer-banner > img {
    margin: 0 auto;
    display: block; } }

.footer-banners {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center; }

.footer-banner {
  flex: 1 1 100%;
  width: auto; }

.footer-banner form {
  max-width: 900px;
  margin: 0 auto; }

.tab-content {
  padding: 20px; }

#formContact .form-group:nth-child(2) {
  margin-right: 4%; }

#formContact .form-group:nth-child(2),
#formContact .form-group:nth-child(3) {
  width: 47.8%;
  display: inline-block; }

#formContact .form-group:nth-child(2) #fullName,
#formContact .form-group:nth-child(2) label,
#formContact .form-group:nth-child(3) #email,
#formContact .form-group:nth-child(3) label {
  display: block;
  width: 100%;
  max-width: unset; }

#formContact input[type="submit"] {
  display: block;
  margin: 0 auto;
  min-width: 230px; }

#formContact label[for="consents40"] {
  font-size: 12px;
  margin-top: -12px; }

#formContact .submit-wrapper {
  margin-top: 32px; }

/* FOOTER */
#footer ul.social-list li:first-child,
#footer ul.social-list {
  padding-left: 0 !important; }

#footer ul.social-list li {
  display: block;
  float: left;
  padding: 12px !important; }

#footer ul.social-list li::before {
  display: none; }

#footer {
  background-color: #372f89;
  border-color: none !important;
  padding-bottom: 0;
  margin-top: 65px; }

body.in-index #footer {
  margin-top: 0; }

.custom-footer {
  padding-top: 50px;
  padding-bottom: 25px; }

.custom-footer .banner {
  margin-bottom: 0; }

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6,
#footer .h1,
#footer .h2,
#footer .h3,
#footer .h4,
#footer .h5,
#footer .h6,
#footer li,
#footer ul li,
#footer p,
#footer span,
#footer a {
  color: #fff; }

#footer a {
  text-decoration: underline; }

#footer ul li a {
  text-decoration: none; }

#footer ul li::before {
  border-color: #fff; }

.footer-bottom {
  padding-top: 15px;
  padding-bottom: 15px; }

#footer #signature {
  margin-bottom: 0; }

#footer #signature a {
  text-decoration: none; }
