.btn {
  display: inline-block;
  padding: 16px 52px;
  border-radius: 4px;
  font-size: 18px;
  line-height:20px;
  transition: background-color 0.125s linear;
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;
}

.btn-primary:hover {
  background-color: $primary-color-hover;
  color: #fff;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn-outline:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #252525;
}

a.btn {
  text-decoration: none;
}