section.case-studies {

  &.bg-grey-half {
    position: relative;
    
    &::before {
      content: "";
      background-color: rgba(182, 200, 227, .1);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  .case-studies-wrapper {
    margin-top: 3rem;
  }

  .case-study-detail {
    margin: 0 1.5625rem;
    min-height: 368px;

    > .case-study-image-overlay {
      width: 100%;
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform .25s ease-in-out;
      display: flex;
      align-items: center;

      .inner-content {
        max-width: unset;
        margin: 0 auto;
        color: #252525;
        text-align: center;
        position: relative;
        top: 178px;

        > img {
          margin: 0 auto;
          max-width: 200px;
          background-color: #252525;
          padding: 12px;
          border-radius: 4px;
        }

        .btn {
          font-size: 1rem;
          margin-top: 2rem;
          background-color: transparent;
          border: 1px solid #252525;
          color: #252525;
          padding: 12px 20px;
        }
      }
    }

    &.slick-center > .case-study-image-overlay {
      transform: scale(1.10);
    }
  }
}

@media (min-width: 768px){
  section.case-studies {

    &.bg-grey-half::before {
      background-color: rgba(182, 200, 227, .1);
      position: absolute;
      top: 0;
      left: 0;
      height: 60%;
      width: 100%;
    }
  
    .case-studies-wrapper {
      margin-top: 3rem;
    }
  
    .case-study-detail {
      margin: 0 1.5625rem;
      min-height: unset;
  
      > .case-study-image-overlay {
        min-height: 450px;
        width: 100%;
        display: flex;
        align-items: center;
  
        .inner-content {
          max-width: 60%;
          margin: 0 auto;
          padding: 40px;
          background-color: rgba(0,0,0,.85);
          color: #fff;
          text-align: center;
          top:0;

          > img {
            background-color: unset;
            padding: 0;
            border-radius: unset;
          }
  
          .btn {
            font-size: 1rem;
            margin-top: 2rem;
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
            padding: 16px 52px;
          }
        }
      }
  
      &.slick-center > .case-study-image-overlay {
        transform: scale(1.10);
      }
    }
  }
}

section.services {
  .services-wrapper {
    margin-top: 3rem;

    .service-detail {
      padding: 2.1875rem 1.250rem;
      box-shadow: 0 1px 15px rgba(0, 0, 0, .05);
      margin-bottom: 2.5rem;

      >i {
        margin-bottom: 1.750rem;
        margin-left: auto;
        margin-right: auto;
      }
      >h3 {
        margin-bottom: 1.250rem;
      }
      >p {
        margin:0;
        color: #888888;
        font-size: 1rem;
        line-height: 1.375rem;
      }
    }
  }
}

@media (min-width: 768px){
  section.services .services-wrapper .service-detail>p {
    font-size: .875rem;
  }
}

section.brands {
  .brands-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0;
    margin-top: 2rem;

    >li {
      max-width: 165px;
      flex: 0 1 45%;
      margin-top: 1rem;
    }
  }
}

@media (min-width: 768px){
  section.brands {
    .brands-list {
      flex-wrap: nowrap;
      justify-content: space-between;
  
      >li {
        flex: auto;
      }
    }
  }
}


section.promo-banner {
  margin: 0 15px;

  .promo-content {
    background-color: #3F859E;
    padding: 4.375rem 2.1875rem;
    border-radius: 12px;
    color: #fff;
    background-size: 320px;
    background-repeat: no-repeat;
    background-position: 84% center;

    > h2 {
      margin-bottom: 1.625rem;
    }

    > p {
      font-size: 1.25rem;
      line-height: 1.875rem;
      margin-bottom: 2.25rem;
    }
  }
}

@media (min-width: 768px){
  section.promo-banner {
    margin: 0;

    .promo-content {
      background-image: url(assets/images/promo-banner-bg.png);
    }
  }
}