h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
}

h1,
.h1 {
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 8px;
}

h2,
.h2 {
  font-size: 35px;
  line-height: 40px;
}

h3,
.h3 {
  font-size: 30px;
  line-height: 35px;
}

h4,
.h4 {
  font-size: 25px;
  line-height: 32px;
}

a {
  text-decoration: none;
  color: #242424;
  cursor: pointer;
}

a:hover,
a:active,
a:focus {
  color: #000;
}

.btn {   
  display: inline-flex;
  flex-direction: row;
  min-width: 155px;
  min-height: 43px;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 6px 20px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-transparent::after {
  content: '';
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29'%3E%3Ccircle id='Ellipse_50' data-name='Ellipse 50' cx='14.5' cy='14.5' r='14.5' fill='%23242424'/%3E%3Cpath id='Path_5' data-name='Path 5' d='M-16014.525-7209.025l7.076,5.85-6.186,6.129' transform='translate(16026.125 7217.466)' fill='none' stroke='%23fff' stroke-width='1'/%3E%3C/svg%3E%0A");
  background-size: cover;
  margin-left: 10px;
  transition: all .15s ease-in-out
}

.btn-transparent:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29'%3E%3Ccircle id='Ellipse_48' data-name='Ellipse 48' cx='14.5' cy='14.5' r='14.5' fill='%23fff'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M-16014.525-7209.025l7.076,5.85-6.186,6.129' transform='translate(16026.125 7217.466)' fill='none' stroke='%23242424' stroke-width='1'/%3E%3C/svg%3E%0A");
}

.btn-primary {
  color: #242424;
  background-color: #fff;
  border-color: #fff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: #000;
}

.btn-secondary {
  color: #fff;
  background-color: #242424;
  border-color: #242424;
}

.btn-secondary::after {
  content: '';
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='29' viewBox='0 0 29 29'%3E%3Ccircle id='Ellipse_48' data-name='Ellipse 48' cx='14.5' cy='14.5' r='14.5' fill='%23fff'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M-16014.525-7209.025l7.076,5.85-6.186,6.129' transform='translate(16026.125 7217.466)' fill='none' stroke='%23242424' stroke-width='1'/%3E%3C/svg%3E%0A");
  background-size: cover;
  margin-left: 10px;
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-transparent {
  color: #242424;
  background-color: transparent;
  border-color: #242424;
}

.btn-transparent:hover,
.btn-transparent:active,
.btn-transparent:focus {
  color: #fff;
  background-color: #242424;
  border-color: #242424;
}

.slick-dots {
  bottom: -45px;

  .slick-active button::before {
    opacity: 1 !important;
    color: #242424 !important;
  }

  button::before {
    font-size: 12px !important;
    opacity: 1 !important;
    color: #646464 !important;
  }
}

label {
  font-size: 16px;
}

input[type=text] {
  width: 100%;
  border:0;
  border-bottom:1px solid #252525;
  min-height: 45px;
  margin-bottom: 30px;
  font-size: 14px;
}

input[type=text]:focus {
  outline:0;
}

@include media-breakpoint-up(lg) {
  label {
    font-size: 20px;
  }
  input[type=text] { 
    font-size: 18px;
    margin-bottom: 50px;
  }
}