.contact-page.bs-section {
  padding:40px 0;
}

.contact-page h2 {
  font-size: 28px;
  line-height: 38px;
}

.contact-form {
  display:flex;
  flex-direction:column;
  justify-content: center;
}

@include media-breakpoint-up(lg) {
  .contact-page {

    &.bs-section {
      padding:80px 0;
    }

    h2 {
      font-size: 55px;
      line-height: 65px;
    }

    .contact-form {
      margin-left:45px;
    }
  }
}