.contact-page h2 {
  font-size: 28px;
  line-height: 38px;
}

.contact-form {
  display:flex;
  flex-direction:column;
  justify-content: center;

  label {
    font-size: 16px;
  }

  input[type=text] {
    width: 100%;
    border:0;
    border-bottom:1px solid #252525;
    min-height: 45px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  input[type=text]:focus {
    outline:0;
  }
}

@include media-breakpoint-up(lg) {
  .contact-page {

    h2 {
      font-size: 55px;
      line-height: 65px;
    }

    .contact-form {
      margin-left:45px;

      label {
        font-size: 20px;
      }
      input[type=text] { 
        font-size: 18px;
        margin-bottom: 50px;
      }
    }
  }
}

.contact-page.bs-section {
  padding:80px 0;
}

