body.mobile-menu-triggered {
  overflow: hidden;
}

header.header {
  background: #fff;
  height: 48px;
  border-bottom: 1px solid #242424;
  position: relative;
  padding: 0 15px;

  .col-12 {
    position: inherit;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;

    > div {
      align-self: center;
    }

    .navigation__menu_icon {
      display: block;
      width: 28px;
      height: 14px;
      background-size: contain;
      background-image: url(../../../assets/images/hamburger_menu.svg);
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .navigation__items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 40px;
      font-weight: bold;
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: #fff;
      z-index: -1;
      opacity: 0;
      transition: 0.3s;

      span.navigation__list_close_button,
      span.navigation__list_heading {
        display: none;
      }

      &.active {
        opacity: 1;
        z-index: 10;

        &::after {
          display: none;
        }

        .navigation__menu_icon {
          display: none;
        }

        .navigation__list {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 290px;
          font-size: 18px;
          font-weight: 400;
          text-align: center;
          list-style-type: none;

          > span.navigation__list_close_button {
            background-image: url(../../../assets/images/ico-close.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            display: block;
            width: 29px;
            height: 29px;
            position: absolute;
            right: 18px;
            top: 18px;
            z-index: 15;
          }

          > span.navigation__list_heading {
            display: block;
            font-size: 50px;
            font-weight: 600;
            margin-bottom: 40px;
          }

          li.navigation__list_item {
            > a.navigation__list_link {
              text-decoration: none;
              color: #242424;
              padding: 10px 0;
              display: block;

              &.active {
                text-decoration: underline;
                text-underline-offset: 4px;
              }
            }
          }
        }
      }

      .navigation__list {
        display: none;
        list-style-type: none;
      }
    }

    @include media-breakpoint-up(md) {
      .navigation__icons {
        display: none;
      }
      .navigation__menu_icon {
        display: none;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  header.header {
    display: flex;
    height: 105px;
    justify-content: center;

    nav {
      height: 105px;
      width: 100%;

      .navigation__items {
        background-color: #fff;
        display: flex;
        flex-direction: unset;
        font-size: unset;
        font-weight: unset;
        height: calc(100% - 2px);
        width: 100%;
        position: relative;
        top: unset;
        left: unset;
        justify-content: flex-end;
        align-items: center;
        opacity: 1;
        z-index: 1;
        transition: 0s;

        .navigation__list {
          display: flex;
          flex-direction: row;

          > li {
            margin:0;

            > a {
              display: inline-block;
              padding: 6px 24px;
              font-size: 20px;
            }

            &.navigation__promo_item {

              > a {
                background-color: #242424;
                color:#fff;
                border-radius: 19px;
              }
            }

            &:last-child {
              padding-left: 65px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  header.header {

    > nav {
      max-width: 1140px;

      .navigation__items {

        .navigation__list {

          > li {
            padding:0 17px;
            
            &:last-child {
              padding-left:200px;
            }
          }
        }
      }
    }
  }
}