* {
  margin:0;
  padding:0;
  font-family: "TeleNeo Regular", "TeleNeo";
  font-weight: 500;
}

@import "parts/custom.scss";
@import "parts/custom-child.scss";
@import "parts/alerts.scss";
@import "parts/helpers.scss";
@import "parts/slider.scss";
@import "parts/modal.scss";
@import "parts/leads.scss";
@import "parts/tabs.scss";
@import "parts/faqs.scss";
@import "parts/tooltips.scss";
@import "parts/tvlogos.scss";
@import "parts/xmas.scss";
@import "parts/icons.scss";
@import "parts/overlays.scss";

.icon-check {
  float: left;
  padding-right: 15px;
  margin-top: 7px;
  width: 35px;
}

.bs-section,
.bs-section-theme {
  font-weight: 300;
}

.bs-section-theme {
  padding: 100px 0;
}

.bs-section-theme .section-name {
  color: #e20074;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: -60px;
  right: 0;
}

.tab-content > .tab-pane {
  transition: all 0.3s ease;
}

.bst-bg-shape {
  background-size: 110%;
}

.box-img-bgr.v2 .badge {
  position: absolute;
  top: 175px;
  left: -30px;
}

.badge:not(.badge-inbox-top).theme-badge-v4 {
  background-color: #262626;
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.inner-content.theme-ic-v11 {
  min-height: 211px;
}

.inner-content.theme-ic-v11 {
  -webkit-box-shadow: 0 6px 15px #e8e8e8;
  box-shadow: 0 6px 15px #e8e8e8;
}

.jstabs-inner-image1,
.jstabs-inner-image2 {
  background-size: contain;
  width: 100%;
  padding-bottom: 32.25%;
  background-repeat: no-repeat;
  background-position: center center;
}

.jsphonepanel-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.grid-slider-item img {
  min-width: 40px;
}

.sub-theme-tl-v5 .active > .tab-list-link {
  font-weight: 700;
}

.grid-slider-item img.jspanes-benefit5-ico {
  min-width: 33px;
  height: 45px;
}

.measure-box-header img {
  width: 18px;
  height: 16px;
}

.cta-image-inner {
  top: 22px;
}
@media (max-width: 767px) {
  .cta-image-inner {
    top: 11px;
  }
}

.icon-box.rounded {
  flex-basis: 100px !important;
}

@media screen and (min-width: 1360px) {
  .cta-image.theme-v1 {
    right: -10px !important;
  }
}

@media (min-width: 1200px) {
  .cta-image.theme-v1 {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .cta-image.theme-v1 {
    padding-bottom: 100% !important;
  }
}

.theme-v1 .cta-icon,
.cta-icon.pos-right-down {
  top: 150px !important;
  right: -115px !important;
  bottom: 0 !important;
  transform: rotate(0deg) !important;
}

@media (min-width: 768px) {
  .badge-hero-image {
    left: 550px !important;
  }
}

.badge-hero-image {
  width: 170px;
  height: 170px;
  right: -50px !important;
  top: -50px !important;
}

@media (min-width: 992px) {
  .badge-hero-image {
    right: -30px !important;
    top: -30px !important;
  }
}

@media (max-width: 1401px) {
  .cta-icon {
    display: none !important;
  }
}

@media (max-width: 730px) {
  .badge-hero-image {
    display: none !important;
  }
}

@media (max-width: 411px) {
  .bg-white.text-center.small-inner-content.square-corners.box-shadow-v1 {
    min-height: 335px !important;
  }
}

@media (min-width: 992px) {
  .badge-hero-image {
    right: -35px !important;
    width: 170px;
    height: 170px;
    top: -50px !important;
    left: unset !important;
  }
}

.sleva-na-telefon-wrap {
  height: 155px;
}

.sleva-na-telefon-wrap img {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg:not(.bootstrap-select) {
  padding-top: 14px;
}

@media (min-width: 768px) {
  .bib-theme-v4 {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
@media (max-width: 991.98px) {
  .bib-theme-v4 .link-circle {
    bottom: 25px;
    right: 25px;
  }
}
@media (min-width: 768px) {
  .bib-theme-v4 .link-circle {
    right: auto;
    left: 25px;
  }
}
.bib-theme-v4 .content-holder {
  width: 75%;
}
@media (max-width: 991.98px) {
  .bib-theme-v4 .content-holder .content-inner {
    padding-bottom: 25px;
  }
}
.o-active-box {
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
  min-width: 135px;
}
.o-active-box:hover,
.o-active-box.active {
  background-color: #fff;
  -webkit-box-shadow: 0 11px 26px #0000001a;
  box-shadow: 0 11px 26px #0000001a;
}

.o-smartphone-visual-wrap {
  height: 600px;
  width: 100%;
  position: relative;
}
@media (max-width: 767.98px) {
  .o-smartphone-visual-wrap {
    overflow: hidden;
    height: 625px;
  }
}
.o-smartphone-visual-wrap img {
  position: absolute;
  top: -59px;
  width: 654px;
  left: -165px;
  max-width: initial;
}
@media (min-width: 768px) {
  .o-smartphone-visual-wrap img {
    top: -41px;
  }
  .bg-magenta-curve::after {
    content: '';
    display: block;
    width: 100%;
    height: 190px;
    background-image: url(https://dtdl-static-natco.eshop.yo-digital.com/resize-image?f=assets/cz/bf777332-1551-498a-a01f-c402c8aef024.png);
    background-color: #f5f5f9;
    background-size: cover;
    position: absolute;
    bottom: -185px;
    z-index: 0;
  }
}

.scroller-theme .scroller-text {
  left: 16px;
}

@media (max-width: 767.8px) {
  .bg-magenta-curve {
    margin-bottom: -215px;
  }
}

.switch-content-target {
  display: none;
}

.switch-content-target.active {
  display: block;
}

#rewards {
  background-image: url(https://static.eshop.t-mobile.cz/resize-image?f=assets/cz/60bc7c72-ca96-46e2-b4ce-9f84b0e7c96c.png);
  background-position: center; 
}

@media (min-width: 768px) {
  #rewards {
    background-image: url(https://static.eshop.t-mobile.cz/resize-image?f=assets/cz/3102ea70-a311-4ae9-bd6e-3deb2d418b6c.png); 
  } 
}